body {
  margin: 0;
  padding: 10px;
  font-family: sans-serif;
  background-image: url('https://i.gyazo.com/8d02888f1921e2715a971bc2eb7b84c3.jpg');
  transform: scale(0.95);
}

.appdiv {
  color: white;
  background-color: rgb(122, 61, 61);
  border: 2px double white;
  border-radius: 10px;
  padding: 10px;
}

#torchimg {
  height: 350px;
  margin-top: 100px;
  animation-name: fadeIn;
  animation-duration: 0.75s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

#app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#newdiv {
  font-size: 20px;
}

.name {
  background-color: rgb(255, 244, 244);
}

.mainbtn {
  padding: 5px;
  border: 1px solid white;
  border-radius: 7px;
  background-color: rgb(96, 35, 35);
  color: white;
  transform: scale(1.275);
  animation-name: fadeInBottom;
  animation-duration: 0.75s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

.mainbtn:hover {
  animation-duration: 0.175s;
  animation-name: grow;
  animation-fill-mode: forwards;
  cursor: pointer;
}

#homediv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.vip {
  color: rgb(255, 211, 211);
}

#questbtn {
  border: 2px solid white;
  border-radius: 10px;
  background-color: rgb(68, 32, 32);
  color: white;
  font-size: 20px;
  padding: 20px;
}

#questbtn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#questbtn:active {
  transform: scale(1.135);
}

.hirebtn {
  padding: 5px;
  border: 1px solid white;
  border-radius: 7px;
}

.hirebtn:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.hirebtn:active {
  transform: scale(1.099);
}

#exitbtn {
  padding: 13px;
  border: 0px solid white;
  border-radius: 6px;
  transform: scale(1.135);
  background-color: rgb(252, 234, 234);
  color: red;
}

#exitbtn:hover {
  cursor: pointer;
  animation-duration: 0.3s;
  animation-name: colorswitch;
  background-color: rgb(196, 23, 23);
  color: white;
}

.modal-content {
  color: black;
}

#main-header {
  animation-name: fadeInLeft;
  animation-duration: 0.75s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

#main-intro {
  animation-name: fadeInRight;
  animation-duration: 0.75s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

@keyframes colorswitch {
  from {
    background-color: rgb(252, 234, 234);
    color: red;
  }

  to {
    background-color: rgb(196, 23, 23);
    color: white;
  }
}

@keyframes grow {
  from {
    transform: scale(1.275);
  }

  to {
    transform: scale(1.4);
  }
}

@keyframes fadeInLeft {
  0% {
    transform: translateX(-65px);
    opacity: 0;
  }

  95% {
    transform: translateX(10px);
  }

  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    transform: translateX(65px);
    opacity: 0;
  }

  95% {
    transform: translateX(-10px);
  }

  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

@keyframes fadeInBottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  95% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1.275);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    transform: scale(0.01);
    opacity: 0;
  }

  95% {
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
  }
}
